aiobotocore==3.1.3
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-jinja2==1.6
aioitertools==0.13.0
aiosignal==1.4.0
aiosmtplib==5.1.0
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apache-airflow==2.11.1
apache-airflow-providers-amazon==9.21.0
apache-airflow-providers-common-compat==1.13.1
apache-airflow-providers-common-io==1.7.1
apache-airflow-providers-common-sql==1.31.0
apache-airflow-providers-fab==1.5.4
apache-airflow-providers-ftp==3.14.1
apache-airflow-providers-http==5.6.4
apache-airflow-providers-imap==3.11.0
apache-airflow-providers-postgres==6.5.4
apache-airflow-providers-smtp==2.4.2
apache-airflow-providers-sqlite==4.2.1
apispec==6.9.0
argcomplete==3.6.3
asgiref==3.11.1
asn1crypto==1.5.1
asyncpg==0.31.0
attrs==25.4.0
aws-embedded-metrics==3.3.1
awswrangler==3.15.1
babel==2.18.0
beautifulsoup4==4.14.3
bidict==0.23.1
blinker==1.9.0
boolean.py==5.0
boto3==1.42.49
botocore==1.42.49
brotli==1.2.0
CacheControl==0.14.4
cachelib==0.13.0
cachetools==6.2.6
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
clickclick==20.10.2
colorama==0.4.6
colorlog==6.10.1
ConfigArgParse==1.7.5
ConfigUpdater==3.2
confluent-kafka==2.13.0
connexion==2.15.1
coverage==7.13.4
cron_descriptor==2.0.6
croniter==6.0.0
cryptography==42.0.8
cyclonedx-python-lib==11.11.0
defusedxml==0.7.1
Deprecated==1.3.1
dill==0.4.1
dnspython==2.8.0
duckdb==1.4.4
email-validator==2.3.0
Faker==40.23.0
fastapi==0.138.0
filelock==3.24.3
Flask==2.3.3
Flask-AppBuilder==4.5.4
Flask-Babel==2.0.0
Flask-Caching==2.3.1
flask-cors==6.0.5
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.12
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
frozenlist==1.8.0
fsspec==2026.2.0
gevent==25.9.1
geventhttpclient==2.3.9
google-api-core==2.30.0
google-auth==2.48.0
google-cloud-bigquery==3.40.1
google-cloud-core==2.5.0
google-crc32c==1.8.0
google-re2==1.1.20251105
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
greenlet==3.3.2
grpcio==1.65.5
grpcio-status==1.62.3
gunicorn==25.1.0
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
hypothesis==6.155.7
idna==3.11
importlib-metadata==6.11.0
inflection==0.5.1
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==0.10.0
jsonpath-ng==1.7.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kafka-python-ng==2.2.3
lazy-object-proxy==1.12.0
license-expression==30.4.4
limits==5.8.0
linkify-it-py==2.0.3
lockfile==0.12.2
locust==2.39.0
locust-cloud==1.27.2
lxml==5.4.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
marshmallow-oneofschema==3.2.0
marshmallow-sqlalchemy==0.28.2
mdit-py-plugins==0.5.0
mdurl==0.1.2
methodtools==0.4.7
mmh3==5.2.0
more-itertools==10.8.0
msgpack==1.1.2
msgspec==0.20.0
multidict==6.7.1
networkx==3.6.1
numpy==1.26.4
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
ordered-set==4.1.0
orjson==3.11.7
packageurl-python==0.17.6
packaging==26.0
pandas==2.1.4
pathspec==1.0.4
pendulum==3.2.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.1
platformdirs==4.9.2
pluggy==1.6.0
ply==3.11
prison==0.2.1
prometheus_client==0.24.1
propcache==0.4.1
proto-plus==1.27.1
protobuf==4.25.8
psutil==7.2.2
psycopg2-binary==2.9.11
py-serializable==2.1.0
pyarrow==18.1.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
PyAthena==3.29.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydynamodb==0.8.1
Pygments==2.19.2
pyiceberg==0.11.0
PyJWT==2.11.0
pymssql==2.3.13
PyMySQL==1.1.2
pyOpenSSL==25.1.0
pyparsing==3.3.2
pyroaring==1.0.3
pytest==8.2.1
pytest-asyncio==1.3.0
pytest-cov==7.0.0
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-engineio==4.13.3
python-multipart==0.0.22
python-nvd3==0.16.0
python-slugify==8.0.4
python-socketio==5.13.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
redis==6.4.0
redshift-connector==2.1.11
referencing==0.36.2
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rich-argparse==1.7.2
rpds-py==0.30.0
rsa==4.9.1
ruff==0.5.5
s3fs==2026.2.0
s3transfer==0.16.0
sagemaker_studio==1.0.24
scramp==1.4.8
setproctitle==1.3.7
simple-websocket==1.1.0
six==1.17.0
snowflake-connector-python==4.0.0
snowflake-sqlalchemy==1.8.2
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==1.4.54
sqlalchemy-bigquery==1.16.0
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.42.1
sqlparse==0.5.5
starlette==1.3.1
strictyaml==1.7.3
structlog==26.1.0
tabulate==0.9.0
tenacity==9.1.4
termcolor==3.3.0
text-unidecode==1.3
tomli==2.4.1
tomli_w==1.2.0
tomlkit==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uc-micro-py==1.0.3
universal_pathlib==0.2.6
urllib3==2.6.3
uvicorn==0.49.0
uvloop==0.22.1
watchfiles==1.2.0
watchtower==3.4.0
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.6
wirerope==1.0.0
wrapt==2.1.1
wsproto==1.3.2
WTForms==3.2.1
yarl==1.22.0
zipp==3.23.0
zope.event==6.1
duckdb>=1.0.0
zope.interface==8.2
zstandard==0.25.0
